<!DOCTYPE html>
<html ng-app="worldApp">
<head>
	<meta charset="UTF-8">
	<title>{{query}}</title><!-- 数据模型跟着control作用域走，如果ng-model跑到其他ctrl去的话，这里就获取不到了 -->
</head>
<body>
	<p><input type="text" ng-model="world"><br>Hello {{world}}!
	</p>
	<script src="../lib/angular.js"></script>
	<p>Search: <input ng-model="query"></p>
	<select ng-model="orderProp">
	  <option value="name">name</option>
	  <option value="age">age</option>
	</select>

	<ul ng-controller="MemberCtrl">
		<li ng-repeat="person in members | filter:query | orderBy:orderProp">
			{{person.name}}
			<p>{{person.info}}</p>
		</li>
	</ul>
	<ul ng-controller="dataCtrl">
		<li ng-repeat="person in members | filter:query | orderBy:orderProp">
			{{person.name}}
			<p>{{person.info}}</p>
		</li>
	</ul>
	<p ng-controller="linkCtrl">
		<a ng-repeat="one in links" href="{{one.link}}" target="{{one.target}}">
			{{one.desc}}
		</a>
		<br>
	</p>
	<script src="js/app.js"></script>
</body>
</html>